.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  margin-top: 60px;
  font-size: 4rem;
  font-family: "Merriweather", serif;
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--amarelo-primario);
}

h2 {
  margin: 0;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  color: var(--background);
}

input {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--background);
}

input:focus-visible {
  outline: none;
  border: none;
}

.input-wrapper {
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
  color: var(--background);
  padding: 10px 15px;
  border-radius: 15px;
  margin-top: 20px;
  width: 40%;
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgba(50, 50, 50, 0.1);
  border: 2px solid rgba(50, 50, 50, 0.1);
  transition: border-color 0.3s;
}

::-webkit-input-placeholder {
  color: var(--background);
  opacity: 0.3;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}

:-ms-input-placeholder {
  color: var(--background);
  opacity: 0.3;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}

::placeholder {
  color: var(--background);
  opacity: 0.3;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}

.input-wrapper:focus-within {
  outline: none;
  border: 2px solid var(--amarelo-primario);
}

.input-wrapper i {
  opacity: 0.3;
  transition: color 2s;
}

.input-wrapper:focus-within i {
  color: var(--amarelo-primario);
  opacity: 1;
}
